{% extends "layouts/base.html" %}

{% block title %}
Vehicle Exit
{% endblock %}

{% block content %}

<div class="form-card">

    <h2>Vehicle Exit</h2>
    <p>Search active ticket and complete vehicle checkout.</p>

    <br>

    <form method="POST">

        {% csrf_token %}

        <div class="form-group">
            <label>Vehicle Number</label>

            <input
                type="text"
                name="vehicle_number"
                placeholder="Example: LEA1234"
                required
            >
        </div>

        <div class="form-group">
            <label>Payment Method</label>

            <select name="payment_method">

                <option value="CASH">
                    Cash
                </option>

                <option value="CARD">
                    Card
                </option>

            </select>
        </div>

        <button class="btn" type="submit">
            Complete Exit
        </button>

    </form>

</div>

{% endblock %}