{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        Nexon Parking System
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>

<body>

    <div class="app-layout">

        {% include "includes/sidebar.html" %}

        <main class="main-content">

            {% include "includes/navbar.html" %}
            {% include "includes/messages.html" %}

            <section class="page-content">
                {% block content %}
                {% endblock %}
            </section>

        </main>

    </div>

</body>

</html>