<div class="sidebar">

    <div class="logo">

        <h2>PPS</h2>

        <p>Peshawar Parking</p>

    </div>

    <ul class="menu">

        <li>

            <a href="{% url 'dashboard' %}">
                Dashboard
            </a>

        </li>

        <li>

            <a href="{% url 'vehicle-entry' %}">
                Vehicle Entry
            </a>

        </li>

        <li>

            <a href="#">
                Vehicle Exit
            </a>

        </li>

        <li>

            <a href="#">
                Active Parking
            </a>

        </li>

        <li>

            <a href="#">
                Reports
            </a>

        </li>

    </ul>

</div>