<div class="sidebar">

    <div class="logo">

        <h2>PPS</h2>

        <p>Peshawar Parking</p>

    </div>

    <ul class="menu">

        <li>

            <a href="{% url 'dashboard' %}">
                Dashboard
            </a>

        </li>

        <li>

            <a href="{% url 'vehicle_entry' %}">
    Vehicle Entry
</a>

        </li>

        <li>

           <a href="{% url 'vehicle_exit' %}">
    Vehicle Exit
</a>

        </li>

      <li>

    <a href="{% url 'active_vehicles' %}">
        Active Vehicles
    </a>

</li>

        <li>

            <a href="#">
                Reports
            </a>

        </li>

    </ul>

</div>