{% extends "layouts/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<h1>Parking Dashboard</h1>

<div class="dashboard-grid">

    <div class="card">
        <h3>Total Slots</h3>
        <h2>{{ total_slots }}</h2>
    </div>

    <div class="card">
        <h3>Free Slots</h3>
        <h2>{{ free_slots }}</h2>
    </div>

    <div class="card">
        <h3>Occupied Slots</h3>
        <h2>{{ occupied_slots }}</h2>
    </div>

    <div class="card">
        <h3>Active Tickets</h3>
        <h2>{{ active_tickets }}</h2>
    </div>

    <div class="card">
        <h3>Completed Tickets</h3>
        <h2>{{ completed_tickets }}</h2>
    </div>

    <div class="card">
        <h3>Total Revenue</h3>
        <h2>Rs. {{ total_revenue }}</h2>
    </div>

</div>

{% endblock %}